/* body{
    background-image: url(../html/kg2.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: cyan;
    align-content: center;
    align-items: center;
    /* background-size: 1200px 400px; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-attachment: fixed; */
 /* }  */ 


 div{
    border: 20px dotted red;
    height: 500px;
    width: 600px;
    background-color: tan;
    background-image: url(../html/images\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
 }