/* div[id=demo1]{
    border: 15px dashed red;
    background-color: violet;
    background-image: url(../html/puneeth1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50px;
    height: 600px;
    width: 600px;
} */
div{
    height: 300px;
    width: 400px;
    border:  5px dashed red;
    background-color: antiquewhite;
    background-image: url(../html/puneeth1.jpg),url(../html/OIP\ \(5\).jpg),url(../html/loard.jpg),url(../html/R.jpg),url(../html/loard.jpg),url(../html/images\ \(4\).jpg),url(../html/nature1.jpg),url(../html/color.jpg),url(../html/OIP\ \(3\).jpg);
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px;
    background-position: top center,top left,top right,center left,center,center right,bottom left,bottom center,bottom right;
}
