#a{
    border: 1px solid;
    height: 100vh;
    background-color: rgb(17, 10, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#b{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotated;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rotated{
    from{height: 300px; width: 300px; border-radius: 20px; background-color: violet; box-shadow: 20px 20px 20px steelblue;}
    to{height: 400px; width: 400px; border-radius: 30px; background-color: blueviolet; font-size: 100px; box-shadow: 20px 20px 20px rgb(70, 180, 81);}
    
    100%{ transform: rotate(360deg);}
}