#f{
    border: 1px solid;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 100px;
}   
#g{
    border: 1px solid;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 100px;
}
#h{
    border: 1px solid;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 100px;
}
#i{
    border: 1px solid;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 100px;
}